.DS_Store
output.xml
report.html
log.html
*.pyc
*-screenshot-*.png
*\$py.class
*.swp
*__pycache__
/bin
/build
/dist
/include
/lib
/src/robotframework_imagehorizonlibrary.egg-info
/.vscode
/ImHorizon_env